header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: #000000;
    justify-content: space-around;
}

.logo{
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    font-weight: bold;
    background-color: #000000;
    text-transform: uppercase;
}

.favoritos{
    cursor: pointer;
    background-color: #FFFF;
    text-decoration: none;
    padding: 5px 14px;
    color: #000000;
    border-radius: 4px;
}
